a {
    text-decoration: none;
    color: #212B36;
}

#div-container{
    display:flex;
    justify-content: flex-start;
    flex-direction: row;
    min-height: 100px;
    padding: 10px;
}

#div-container img {
    align-self: flex-start;
}

#description-list{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 10px;
}

#job-title-list{
    font-weight: 400;
    margin-bottom: 100px;
}

.Polaris-ResourceItem__Button {
    display:none;
}

#back-link{
    color: #637381;
    font-size: 1.5rem;
    font-weight: 400;
}

#back-link svg{
    fill: #637381;
    transform: translateY(5px);
}

#back-link:hover, #back-link svg{
    color: #212B36;
}

.nav-bar-container{
    border-bottom: .1rem solid #c4cdd5;
    padding-left: 34px;
    position: fixed;
}

.nav-bar-link{
    color: #637381;
    padding: 16px 16px;
    display: inline-block;
}

.nav-bar-link:hover{
    color: inherit;
}